mixin radio(attrs = {})
  -
    const {
      firstItem='',
      secondItem='',
      name='',
    } = attrs;
   
    let id = [];
    for(let i = 0; id.length < 2; i++) {
      let randId = (Math.floor(Math.random() * Date.now()));
      id.push(randId)
    }


  .radio__items 
    .radio__item 
      input(
        type="radio", 
      name=name, 
      value="male", 
      id=id[0]
      ).radio__item-circle 
      label(for=id[0]).radio__item-text 
        span= firstItem
    .radio__item 
      input(
        type="radio", 
        name=name
        value="female",
        id=id[1]
      ).radio__item-circle 
      label(for=id[1]).radio__item-text 
        span= secondItem