mixin button(attrs = {})
  - 
    const { 
      text= '',
      textColor= 'white',
      width= 'normal',
      fill= false,
      textDarken= false,
      border= false,
      disabled= false,
      arrow= false,
    } = attrs;

    let classList = [];
  
    attrs.textColor === 'purple' ? classList.push('btn__purple') : '';

    attrs.width === 'small' ? classList.push('btn__small') : '';
    attrs.width === 'normal' ? classList.push('btn__normal') : '';
    attrs.width === 'big' ? classList.push('btn__big') : '';

    attrs.fill === true ? classList.push('btn__fill'): '';
    attrs.textDarken === true ? classList.push('btn__darken'): '';
    attrs.border === true ? classList.push('btn__border'): '';
    attrs.disabled === true ? classList.push('btn__disabled'): '';
    attrs.arrow === true ? classList.push('btn__arrow'): '';
 
  button.btn(type='submit' class=classList )= attrs.text
