mixin checkbox(attrs = {})
  - 
    const {
      title= '',
      text= '',
      isRich= false,
      isChecked= false,
    } = attrs
    
    const randomId = Math.floor(Math.random() * Date.now());

  .checkbox__item 
    input(
      class= "checkbox__item-box",
      type="checkbox", 
      name=text, 
      id='checkbox' + randomId + index, 
      checked= attrs.isChecked,
    )
    if (isRich == false)
      label(for="checkbox" + randomId + index).checkbox__item-text= text
    if (isRich == true)
      label(for="checkbox" + randomId + index).checkbox__item-text
        p.checkbox__item-title= title
          span.checkbox__item-descr= text







//- mixin checkbox(attrs = {})
//-   - 
//-     const {
//-       titleArray= [],
//-       textArray= [],
//-       isRich= false,
//-       isChecked= false,
//-     } = attrs
    
//-     let randomId = Math.floor(Math.random() * Date.now());

//-   each text,index in attrs.textArray 
//-     .checkbox__item 
//-       input(
//-         class= "checkbox__item-box",
//-         type="checkbox", 
//-         name=text, 
//-         id='checkbox' + randomId + index, 
//-         checked=attrs.isChecked,
//-       )
//-       if (isRich == false)
//-         label(for="checkbox" + randomId + index).checkbox__item-text= text
//-       if (isRich == true)
//-         label(for="checkbox" + randomId + index).checkbox__item-text
//-           p.checkbox__item-title= titleArray[index]
//-             span.checkbox__item-descr= textArray[index]
