mixin dropdown(attrs = {})
  -
    const {
      width='default',
      rooms=false,
      placeholder='',
      arrItems=[],
      arrCounts=[],
      controlPanel=false,
      showMenu=false
    } = attrs;

    const classBtn = ['dropdown__btn']
    const classMenu = ['dropdown__menu']

    attrs.width === 'small' ? classBtn.push('dropdown__btn--small') : '';
    attrs.width === 'small' ? classMenu.push('dropdown__menu--small') : '';
    
    attrs.rooms === true ? classBtn.push('dropdown__rooms'): '';
    attrs.showMenu === true ? classMenu.push('dropdown__menu--show'): '';

  .dropdown
    button(type='submit' class=classBtn)= placeholder
    ul(class=classMenu)
      each item,index in attrs.arrItems
        li.dropdown__item 
          p.dropdown__item-text= item
          p.dropdown__item-counter
            span.dropdown__item-minus -
            span.dropdown__item-count= arrCounts[index]
            span.dropdown__item-plus +
      if controlPanel == true
        li.dropdown__control
          a.dropdown__reset Очистить
          a.dropdown__apply Применить
