mixin comment(attrs = {})
  -
    const {
      author='', 
      imageSrc='', 
      imageAlt='',
      likeCount='',
      likeActive=false,
      text='',
      date='',
    } = attrs 

  .comment
    .comment__info
      img.comment__img(src=attrs.imageSrc alt=attrs.imageAlt)
      +like({
        count: attrs.likeCount, 
        active: attrs.likeActive,
      })
    .comment__content 
      h6.comment__author= attrs.author
      p.comment__date= attrs.date
      p.comment__text= attrs.text

