mixin like(attrs = {})
  - 
    const {
      count,
      active=false,
    } = attrs;

    const classList = ['like__button']
    let activeImg = '';
    if (attrs.active === true) {
      classList.push('like__box-liked');
      activeImg = 'active'
    };

  button(class=classList) 
    img(
      class="like__heart",
      alt="❤",
      data-src=activeImg
    )
    span.like__count= attrs.count
