mixin toggle(attrs = {})
  - 
    const {
      text= '',
      name= '',
      actived= false,
    } = attrs;

    const randomId = Math.floor(Math.random() * Date.now());

  .toggle__item 
    input(
      type="checkbox", 
      name=name,
      id="toggle-" + randomId,
      checked=actived
      ).toggle__item-box 
    label(for="toggle-" + randomId).toggle__item-text= attrs.text
